@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background-color: #fff;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.mainWrapper {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 15px;
}
.mainWrapper .title {
  display: table;
  max-width: 60%;
  background-color: #fbcc0a;
  padding: 12px 24px;
  text-align: center;
  -webkit-border-top-left-radius: 12px;
  -moz-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-left: 50px;
}
@media (max-width: 767px) {
  .mainWrapper .title {
    margin-left: 0;
  }
}
.mainWrapper .title h2 {
  font-weight: 500;
}
.mainWrapper .title h2 strong {
  font-weight: 700;
}
.mainWrapper .container .container-top {
  position: relative;
  z-index: 1;
  background-color: #6053c9;
  padding: 50px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top {
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 25px 15px;
  }
}
.mainWrapper .container .container-top .mainTabs {
  display: flex;
  margin-bottom: 25px;
}
.mainWrapper .container .container-top .mainTabs li {
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainTabs li {
    width: 50%;
  }
}
.mainWrapper .container .container-top .mainTabs li.active {
  background-color: #0b2f90;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.mainWrapper .container .container-top .mainContent {
  display: none;
}
.mainWrapper .container .container-top .mainContent.active {
  display: block;
}
.mainWrapper .container .container-top .mainContent .selectors {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  column-gap: 30px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .selectors {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
@media (min-width: 768px) {
  .mainWrapper .container .container-top .mainContent .selectors {
    grid-template-columns: 0.2fr 1fr;
  }
}
.mainWrapper .container .container-top .mainContent .selectors .form-group {
  width: 200px;
}
.mainWrapper .container .container-top .mainContent .selectors .form-group select {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  font-weight: 600;
}
.mainWrapper .container .container-top .mainContent .selectors .form-group select optgroup {
  background-color: #0b2f90;
}
.mainWrapper .container .container-top .mainContent .selectors .tabList {
  list-style: none;
}
.mainWrapper .container .container-top .mainContent .selectors .tabList li {
  display: inline-block;
  padding: 12px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  margin: 0 15px;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .selectors .tabList li.active {
  background-color: #0b2f90;
}
.mainWrapper .container .container-top .mainContent .monthly-table {
  margin-top: 25px;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row {
  display: grid;
  margin-bottom: 30px;
  gap: 15px;
  align-items: center;
  background-color: #7b6fd1;
  color: #fff;
  padding: 15px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row {
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    text-align: left;
  }
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option {
    grid-row-start: 4;
  }
}
@media (min-width: 768px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (min-width: 992px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio {
  margin: 0.5rem;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio {
    width: 100%;
    margin: 0;
  }
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio] + .radio-label:empty:before {
    content: "SELECT";
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background-color: #fbcc0a;
    font-weight: 700;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .monthly-table .row .select_option .radio input[type=radio] + .radio-label {
    width: 100%;
    display: block;
  }
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .months p {
  font-size: 22px;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .prices p {
  font-size: 26px;
  font-weight: 700;
  color: #fbcc0a;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .prices p small {
  font-size: 16px;
  text-decoration: line-through;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .prices span {
  background-color: #5b4dc6;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .monthly-table .row .price-per-session p {
  font-size: 20px;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .yearlyTable {
  margin-top: 50px;
}
.mainWrapper .container .container-top .mainContent .yearlyTable ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 25px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .yearlyTable ul {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}
.mainWrapper .container .container-top .mainContent .yearlyTable ul li h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .yearlyTable ul li p {
  font-size: 36px;
  color: #fbcc0a;
  font-weight: 700;
}
.mainWrapper .container .container-top .mainContent .yearlyTable .topics {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.mainWrapper .container .container-top .mainContent .yearlyTable .topics h3 {
  font-size: 22;
  font-weight: 700;
  color: #fff;
  grid-column-start: 1;
  grid-column-end: 4;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .yearlyTable .topics {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .mainWrapper .container .container-top .mainContent .yearlyTable .topics .topic {
    width: 100%;
  }
}
.mainWrapper .container .container-top .mainContent .yearlyTable .topics .topic h5 {
  color: #fbcc0a;
  margin-bottom: 10px;
}
.mainWrapper .container .container-top .mainContent .yearlyTable .topics .topic p {
  color: #fff;
}
.mainWrapper .container .container-bottom {
  position: relative;
  top: -50px;
  background-color: #0b2f90;
  padding: 80px 50px 50px 50px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-bottom {
    padding: 80px 15px 50px;
    top: -50px;
  }
}
.mainWrapper .container .container-bottom .secondaryContent {
  display: none;
}
.mainWrapper .container .container-bottom .secondaryContent.active {
  display: block;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer {
    gap: 20px;
  }
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content {
    width: 100%;
    text-align: center;
  }
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content .label {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #0b2f90;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content h3 span {
  color: #fbcc0a;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content h3 small {
  font-size: 14px;
  color: #fbcc0a;
  text-decoration: line-through;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.mainWrapper .container .container-bottom .secondaryContent .yearly-courses-footer .yc-content button {
  display: block;
  border: none;
  background-color: #fbcc0a;
  padding: 15px 30px;
  font-size: 18px;
  color: #000;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
}
.mainWrapper .container .container-bottom .secondaryContent .yc-additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  color: #fff;
  font-weight: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .mainWrapper .container .container-bottom .secondaryContent .yc-additional .add-content {
    width: 100%;
    text-align: center;
  }
}
.mainWrapper .container .container-bottom .secondaryContent .yc-additional .add-right {
  font-size: 12px;
}
.mainWrapper .container .container-bottom .secondaryContent .yc-additional .add-right a {
  color: #fff;
}/*# sourceMappingURL=index.css.map */