@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$primaryColor: #0b2f90;
$secondaryColor: #6053c9;
$yellow: #fbcc0a;
$color1: #f4f4f4;
$color2: #3197ee;
$roboto: "Roboto", sans-serif;
